figure {
	padding: 1em 0;
}

.image1 {
	display: block;
	width: 100%;
  margin: auto ;

}

.image11 {
	display: block;
	width: 130%;
  margin: auto ;

}

.image2 {
	display: block;
	width: 150%;
  height: 100%;
	max-width: min-content;
	margin-top: -10px; 
  border-radius: 50%;
}

.image3 {
	display: block;
	width: 350%;
	max-width: min-content;
	margin-left: -40px ;
  margin-top: -20px;
  border-radius: 2px;
}

.imageHalf {
	display: block;
	width: 350%;
	max-width: 50%;
	margin-left: -40px ;
  margin-top: -20px;
  border-radius: 2px;
}

.imageRedKiteLogo {
	display: block;
	width: 200%;
	/*max-width: 200%;*/
	margin-left: -40px ;
  margin-top: -20px;
  margin-right: -220px;
  margin-bottom: -10px;
  border-radius: -20px;
}

.imageLogin {
  /*float:right;*/
  padding: -100px;
  justify-content: center;
  width:10%;
}

.imageProfile {
	display: block;
	width: 150px;
  height: 150px;
	margin-top: 50px; 
  border-radius: 50%;

}

figure iframe {
	display: block;
	margin: 0 auto;
}

figure figcaption {
	text-align: center;
}


#gala {
  width: max-content;
}

#leftpurchase {
  width: max-content/2;
}

#rightpurchase {
  width: max-content;
  margin-left:50%;
  margin-top: -45%;
}


h1 {
  margin: 0;
}



/*this is for the button */
.previous {
  color: #ADD2FF;
  font-size: 30px;
  text-decoration: none;
}


.button2 {
  background-color: #011318; 
  border: none;
  color:#A49E8D;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 8px;
  margin: 4px 2px;
  cursor: pointer;
}

.buttonEvents {
  text-decoration: none;
}

a:hover {
  color:#F63F3C;
}

button {
  float: right;
}


.button3 {
  border-radius: 10px;
  background-color: #011318; 
  border: none;
  color:#A49E8D;
  padding: 15px 32px;
  font-size: 8px;
  margin: 4px 2px;
  cursor: pointer;
  }

  .button3 a:hover{
    background-color:#F63F3C;
    color:#F63F3C;
  }

/* for the insert */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

canvas {
  position: absolute;
  top: 0;
  z-index: -1;
}
/*input element selector?*/
ul li {
  list-style: none;
}


/* for navigation bar at the top (header) */
.topnav {
  overflow: hidden;
  background-color:#FAFAFA;
  font-size: 15px;
  font-family: system-ui, sans-serif;
}

.topnav a {
  float: left;
  color: #A49E8D;
  text-align: center;
  padding: 15px 10px;
  text-decoration: none;
  font-size: 15px;
}

.topnav a:hover {
  background-color:#FAFAFA;
  color: #011318;
}


.topnav1 {
  overflow: hidden;
  background-color:#ADD2FF;
  font-size: 15px;
  font-family: system-ui, sans-serif;
}

.topnav1 a {
  float: center;
  color: #FAFAFA;
  text-align: center;
  padding: 15px 10px;
  text-decoration: none;
  font-size: 15px;
}

.topnav1 a:hover {
  background-color: #ADD2FF;
  color: #011318;
}


/*.topnav2 {
  margin-top: -47px;
  overflow: hidden;
  background-color:red;
}

.topnav2 a {
  float: right;
  color: black;
  text-align: center;
  padding: 15px 10px;
  text-decoration: none;
  font-size: 15px;
}

.topnav2 a:hover {
  background-color: #ddd;
  color: white;
}*/

.imgcontainer1 {
  float: left;
  text-align: left;
  margin: 10px 10px -10px 0;
}



/* This is for the footer */
.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #FAFAFA;
   color: #A49E8D;
   text-align: center;
}


/* for the profile login*/
.imgcontainer {
  float: right;
  text-align: right;
  margin: 10px 10px -10px 0;
}

img.login {
  width: 10%;
  border-radius: 50%;
}